# -FrontPage-


<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthUserFile /home/cornelia/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/cornelia/public_html/_vti_pvt/service.grp
AuthName cornelia-schulz.net
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
Options All
